@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight:#77120C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight:var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.result-wrapper .contentclass {
  display: none; /* initially hidden */
  overflow-x: auto; /* horizontal scroll if table too wide */
  width: 100%;
}
table {
  width: 100% !important;
  table-layout: auto;
  border-collapse: collapse;
}
td, th {
  word-break: break-word;
  white-space: normal;
  padding: 8px;
}
.table-responsive:nth-of-type(3) table tr td tbody tr td div  {
  border: 1px solid black;
  border-collapse: collapse;
}
.container-fluid table td tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.table-responsive:nth-of-type(2) th {
background-color:#ADD8E6;
}
